.sidebar-admin {
    background-color: rebeccapurple;
}

.xls-download {
    background-color: #45B5AA !important;
    color: #FFFFFF !important;
    font-size: 14px !important;
    font-weight: bold !important;
    padding: 10px 20px !important;
}

.icon-admin {
    color: red !important;
}