/* General styles */
/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  } */
  
  /* .container-scroller {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  } */
  .style-apply {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-style-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }
  
  .apply-resident {
    margin-bottom: 20px;
  }
  
  .apply-block {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .warn-file {
    color: red;
    font-size: 14px;
  }
  
  .button-add {
    text-align: center;
    margin-top: 20px;
  }
  
  .add-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  .title-apply {
    /* padding: 0 280px; */
    text-align: center;
  }
  /* Responsive styles */
  @media only screen and (max-width: 768px) {
    .card-style-form {
      padding: 10px;
    }
    
    .apply-block {
      margin-bottom: 8px;
    }
    
    .button-add {
      margin-top: 10px;
    }
  }
  